<p style="color: green"><%= notice %></p>

<h1>Listing jobs</h1>

<%= render @jobs %>

<%= link_to "New job", new_job_path %>
<br />
<%= link_to "Hello Worrld",  hello_world_path %> |
<%= link_to "Premium Jobs",  root_path %>